
.contener {
    display: flex;
    gap: 20px;
    
}

#xanh {
    width: 200px;
    height: 200px;
    background-color:aqua;
    border: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
#do {
    width: 200px;
    height: 200px;
    background-color:rgb(255, 42, 0);
    border: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
#tim {
    width: 200px;
    height: 200px;
    background-color:rgb(81, 0, 255);
    border: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}